@font-face {
  font-family: 'Architects Daughter';
  src: url('../fonts/architects-daughter/ArchitectsDaughter-webfont.eot');
  src: url('../fonts/architects-daughter/ArchitectsDaughter-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/architects-daughter/ArchitectsDaughter-webfont.woff2') format('woff2'),
       url('../fonts/architects-daughter/ArchitectsDaughter-webfont.woff') format('woff'),
       url('../fonts/architects-daughter/ArchitectsDaughter-webfont.ttf') format('truetype'),
       url('../fonts/architects-daughter/ArchitectsDaughter-webfont.svg#architects_daughterregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Coming Soon';
  src: url('../fonts/coming-soon/ComingSoon-webfont.eot');
  src: url('../fonts/coming-soon/ComingSoon-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/coming-soon/ComingSoon-webfont.woff2') format('woff2'),
       url('../fonts/coming-soon/ComingSoon-webfont.woff') format('woff'),
       url('../fonts/coming-soon/ComingSoon-webfont.ttf') format('truetype'),
       url('../fonts/coming-soon/ComingSoon-webfont.svg#coming_soonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}